<div style="margin: 0 auto; background-color: whitesmoke; width: 300px; font-family: sans-serif; padding: 30px">
    <h1 style="font-size: 18pt; text-align: center">Mot de passe oublié</h1>

    <p style="font-size: 14pt; text-align: center">
        Utilisez le code suivant pour pour réinitialiser votre mot de passe:
    </p>

    <p style="font-family: monospace; font-size: 16pt; text-align: center">
        {0}
    </p>

    <p style="font-size: 12pt; text-align: center; margin-top: 80px">
        Si vous n'avez pas demandé à<br />réinitialiser votre mot de passe,<br />merci d'ignorer ce mail.
    </p>
</div>