<div style="margin: 0 auto; background-color: whitesmoke; width: 300px; font-family: sans-serif; padding: 30px">
    <h1 style="font-size: 18pt; text-align: center">Inscription</h1>

    <p style="font-size: 14pt; text-align: center">
        Vous y êtes presque! Utilisez le code suivant pour terminer la création de votre compte:
    </p>

    <p style="font-family: monospace; font-size: 16pt; text-align: center">
        {0}
    </p>

    <p style="font-size: 12pt; text-align: center; margin-top: 80px">
        Si vous ne vous êtes pas créé<br/>de compte AutomateDesign,<br/>merci d'ignorer ce mail.
    </p>
</div>